* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(157, 106, 205);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 20px;
    height: 60vh;
    max-width: 400px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
}